#product {

    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;

}
.productdel{
    display: flex;
    gap: 20px;
    /* border:  1px solid rgb(177, 47, 47); */
    width: 80%;
margin: auto;
}
.productimg{
    width: 100px;
    /* border:  1px solid; */
    
}
.productimg img {
    width: 70px;
    height: 60px;
    margin: 10px;
    /* border: 1px solid black; */
}
.producttop{
    width: 400px;
    
}
.producttop img {
    width: 400px;
    height: 450px;
    
}
.bottel{
    border: 1px solid black;
    height: 80px;
    width: 150px;
    text-align: center;
    margin: 10px;
    background-color: beige;
}
.bottel :hover{
    background-color: bisque;
}
.productheding{
    /* border: 1px solid rgb(145, 21, 21); */
    
    /* margin: auto; */
    width: 700px;
    
}
.productheding h1{
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}
.productheding h4{
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}
.productheding ul{
    font-size: 20px;
    margin-left: 25px;
}
.productcard{
    /* border: 1px solid rgb(36, 21, 145); */
    /* width: 500px; */
    margin: auto;
    /* margin: 10px; */
    height: 480px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5%;
    margin-bottom: 20px;
}
.images img{
    margin: 20px;
    height: 170px;
    width: 70%;

}
.dates1{
    /* height: 120px; */
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}
.contain{
    color: blue;
}
.dates1 p {
    margin-left: 10px;
    margin-top: 20px;
}
.offer{
    margin-top: 20px;
    height: 170px;
    border: 1px dotted;
}
.offer p{
    margin-top: 20px;
    font-size: 20px;
    text-align:initial;
}

.btn{
    margin: 10px;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    background-color: #ee4a3c;
    /* height: 60px; */
    font-weight: bold;
    color: white;
    
}
.tbn::after{
    cursor: pointer;
    background-color: #1aab2a;
    color: black;
}
.btn1{
    margin-top: 10px;
}
.div1{
    background-color: #edf9ee;
}
.rating{
    color: #1aab2a;
}
span{
    font-weight: bold;
}
@media all and (max-width: 1000px) and (min-width: 850px) {
    /* mobile-devices */
    .productdel{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      
    }
    
  }
  @media all and (max-width: 849px) and (min-width: 500px) {
    /* mobile-devices */
    .productdel {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
      }
    
  }
  @media all and (max-width: 499px) and (min-width: 100px) {
    /* mobile-devices */
    .productdel{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
      }
    
  }
  