*{
  margin: 0;
  padding: 0;
}
.top_Ad_section{
    display: flex;
    width: 90vw;
    height: auto;
    border: 1px solid;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 20px;
 }
 .Ad_swiper-section{
  width: 60%;
}
 @media only screen and (max-width:600px){
   .top_Ad_section{
    display: flex;
    flex-direction: column;
   }
   .Ad_swiper-section{
    width: 90vw;
    margin: auto;
}  .top_Ad_section img{
    width: 500px;
     height: 100%;
     object-fit: cover;
      overflow: hidden;
}
 }
 .top_Ad_section img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     overflow: hidden;
 }
 
 .Ad_swiper-section>img{
     width: 100%;
 }
 .swiper-ad{
     height: 100%;
     padding: 0%;
     
 }
 .swiper_slide_1>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: auto;
 }
 .swiper_slide_2{
  text-align: center;
  
 }
  
 .swiper_slide_2>img{
  height: 110px;
  width: 124px;
  object-fit: cover;
  margin: auto;
  
}
 .Heading_below_ad{
     display: flex;
     align-items: center;
     justify-content: center;

 }
 .ad_below_heading{
     display: flex;
     justify-content: center;
     margin-left: 10%;
     margin-top: 30px;
     margin-bottom: 50px;
     width: 80%;
 }
 .Featured_Brands{
     font-size: 30px;
     color:"#808080";
     margin-left: 10%;
     margin-top: 3%;
     margin-bottom: 20px;
 }
 .Featured_Brands_swiper{
     width: 85%;
     margin: auto;
 }
 .swiper-container {
    width: 480px;
  }
  
  
  
  
  .Healthvit_image{
    width: 200px;
    margin: auto;
    padding: 20px;
  }
  .Healthvit_heading{
    color: black;
    height: auto;
    font-size: 14px;
    margin-top: 10px;
  }
  .card_span_star{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    gap: 10px;
  }
  .card_cuttoff{
    display: flex;
    
  }
  .card_cuttoff span{
    text-decoration: line-through;
  }
  .swiper-button-next{
    color:red ;
  }
  .card_star_rating{
    background-color: #1AAB2A;
    font:12px sans-serif;
    color: white;
    margin-left: 5px;
    gap: 6px;
    display: flex;
    padding: 2px 5px;
  }
  .swiper-slide-3{
    height: 350px;
    height: 25%;
    padding: 20px;
    border: 1px solid rgb(238, 238, 238);
    display: block;
    margin: auto;
    transition:all 0.3s ease;
  }
  .swiper-slide-3 img{
    margin: auto;
    height: 150px;
    width: 129px;
   border-style: none;
   
  }
  .swiper-slide-3:hover{
    transition: all 1s ease 0s;
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 9px 0px; 
  }
