.navbar_header{
    display: grid;
    grid-template-columns: 17vw 55vw 28vw;
    grid-template-rows: 68px 68px;
    margin: 0px 80px;
    padding: 8px 16px;
}

.header_row_1_1 div{
    display: flex;
    width: 100px;
    height: auto;
    
}
.header_row_1_1 img{
    width: 124px;
    height: 42px;
}
.header_row_1_1{
    width: 200px;
}
.header_row_1_2 {
    display: flex;
    gap: 20px;
}
.header_row_1_2 div{
    display: flex;
    margin-top: 8px;
}
.header_row_1_2 button{
    width: 80px;
    height: 24px;
}


.header_row_1_3{
    display: flex;
}
.header_row_1_3 div{
    display: flex;
}
.header_row_1_3 button{
    width: 44px;
    height: 30px;
}