.container {
  width: 80%;
  margin: 2rem 0rem;
  margin: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.left-container {
  height: auto;
  width: 59%;
}
.right-container {
  /* height: 20rem; */
  width: 39%;
}
.Item-conatiner {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 1rem 0.5rem;
  margin: 0.5rem 0rem;
}
.left-item-container {
  width: 60%;
}
.left-item-container > div,
.right-item-container > div {
  margin-top: 3rem;
}
.right-item-container {
  width: 13%;
}
.Item-conatiner h6 {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 1rem;
}
.Item-conatiner p {
  font-weight: bold;
  font-size: 10px;
  color: #9e9e9e;
}
.coupon-div,
.health-div,
.payment-div,
.left-payment,
.checkout,
.neocoins {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
}
.coupon-div > p {
  color: #208376;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}
.coupon-div > p + p {
  color: #5b5353;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 2px;
}
.coupon-div > p + p + p {
  color: #5b5353;
  font-size: 12px;
  font-weight: 300;
}
.coupon-button {
  margin: 1rem 0rem;
  display: flex;
  justify-content: space-between;
}
.coupon-button > button {
  border: 1px solid red;
  width: 11.5rem;
  height: 2rem;
  border-radius: 5px;
  font-weight: 600;
  font-size: 12px;
  color: #ff6f61;
}
.coupon-button > button + button {
  color: white;
  background-color: #ff6f61;
}
.apply-coupon {
  padding: 0.5rem;
}
.apply-coupon > h4 {
  font-weight: 600;
  font-size: 14px;
  color: #2b2b2b;
}
.apply-coupon:hover,
.pay-left > div {
  cursor: pointer;
}
.health-child {
  display: flex;
  justify-content: flex-start;
}
.health-div1 {
  margin-bottom: 1rem;
}
.health-div1 > p {
  font-size: 16px;
  color: #212121;
}
.health-child input {
  margin-right: 0.8rem;
  width: 60%;
}
.health-child p {
  font-size: 14px;
  width: 80%;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: #212121de;
}
.health-child p + p {
  font-size: 12px;
  color: #616161;
  width: 70%;
  margin-bottom: 5px;
}
.health-child p + p + p {
  font-size: 12px;
  color: #1aab2a;
}
.neocoin-div1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.left-neocoin-div1 {
  display: flex;
  align-items: center;
}
.left-neocoin-div1 > p {
  font-size: 16px;
  color: #333333;
}
.right-neocoin-div1 > p {
  font-size: 11px;
  color: #767676;
}
.right-neocoin-div1 > span {
  font-weight: 800;
}
.neocoin-div2 > h6 {
  font-size: 16px;
  color: #333333;
  margin-top: 7px;
  margin-bottom: 5px;
}
.neocoin-div2-div1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}
.neocoin-div2-div1 > p {
  font-size: 12px;
  font-weight: 700;
  color: #8a2422;
  background-color: #ffe0cc;
}
.neocoin-div2 > h4 {
  font-size: 14px;
  color: #ff6f61;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.pay-div {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 5px;
  margin: 8px 0px;
}
.pay-div > p {
  font-size: 13px;
  color: #757575;
}
.fs-14 > p {
  font-size: 16px;
  font-weight: 700;
}
.col-grn > p {
  color: #18db2f;
}
.bg-grey {
  background-color: #e4f6e7;
}
.checkout-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkout-div > p {
  font-size: 14px;
  color: #757575;
}
.checkout-div > h6 {
  font-size: 14px;
  color: #f55748;
  font-weight: 700;
}
.checkout button {
  background-color: #f5584a;
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  margin-top: 10px;
}
.remove-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.remove-div > img {
  margin-right: 8px;
}
.remove-div > p {
  font-size: 12px;
}
.quantity-div p {
  font-size: 14px;
}
.quantity-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  width: 5rem;
}
.quantity-div img:hover,
.remove-div:hover {
  cursor: pointer;
}
.summaryItem {
  margin-bottom: 1.5rem;
  color: black;
}
.summ-arrive {
  background-color: #fef7fe;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.summ-arrive > h6 {
  font-size: 14px;
  color: #333333;
  font-weight: 700;
}
.summ-arrive > p {
  font-size: 12px;
  color: #a9a9a9;
}
.address-change {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.address-change > p {
  color: #ff6f61;
  font-weight: 700;
}
.add-div > h5,
.add-div > h6 {
  font-size: 12px;
  color: #333333;
}
.fw-700 {
  font-weight: 700;
}
.left-payment {
  width: 40rem;
  display: flex;
  justify-content: space-between;
}
.pay-left {
  width: 40%;
  padding: 1rem 0.5rem;
  background-color: rgb(241, 217, 207);
}
.pay-left > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}
.pay-left > div > img {
  margin-right: 20px;
}
.pay-left > div > p {
  font-size: 18px;
}
.pay-right {
  width: 60%;
  padding: 1rem 0.5rem;
}
